/*  your css code here. If applicable */
       body {
      font-family: Arial;
      padding: 20px;
    }
    #result {
      margin-top: 20px;
      font-weight: bold;
    }
    input {
      padding: 5px;
      font-size: 16px;
    }
    button {
      margin-left: 10px;
      padding: 5px 10px;
      font-size: 16px;
    }